.container{
    background-color: darkgrey;
    width: 100%;
    border-radius: 10px;
}
.myForm{
    padding: 20px;
    line-height: 2;
    
}
.btnHolder{
    text-align: center;
}
input[type ="Text"]{
    width:100%;
    margin: 8px,0;
    padding:12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    font-size: medium;
}
label{
    font-weight: bold;
    font-size: large;
    text-align: left;
}
input[type="submit"]{
    padding:  12px 20px;
    margin-top: 30px;;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}